# World Cup Matches -  Notebook
This notebook will guide you through:
- Loading and inspecting the dataset with Pandas
- Selecting specific rows and columns
- Filtering data with boolean masks
- Adding new columns and modifying existing ones

## Objectives
1. Access information about a dataset with pandas methods.
2. Select rows and columns using `.loc` and `.iloc`.
3. Use boolean indexing to filter data.
4. Add and modify columns in a DataFrame.

In [16]:
import pandas as pd

# Load the dataset
df = pd.read_csv('WorldCupMatches.csv')

# Display the first few rows
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

## Basic Data Inspection
We'll look at the last rows, data info, shape, and column names.

In [17]:
# Display last rows
df.tail()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
847,2014,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0,0,Costa Rica,Netherlands win on penalties (4 - 3),51179.0,0,0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953,300186488,NED,CRC
848,2014,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1,7,Germany,,58141.0,0,5,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955,300186474,BRA,GER
849,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
850,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
851,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

In [18]:
# Get a concise summary of the data
df.info()

#df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852 entries, 0 to 851
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    int64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    int64
 7   Away Team Goals       852 non-null    int64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    int64
 12  Half-time Away Goals  852 non-null    int64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    int64
 17  MatchID               852 non-null    int64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(1), int64(7), object(12)
memory usage: 133.3+ KB

In [19]:
# Get the shape (rows, columns)
df.shape

(852, 20)

In [20]:
# Get column names
df.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

## Selecting Rows and Columns
Use `.iloc` and `.loc` for slicing and indexing.

In [21]:
# Select rows by index from 3 to 5
df.iloc[3:6]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX

In [22]:
# Select rows by index 5 to 9, only 'Home Team Name' and 'Away Team Name'
# df.loc[row_selector, column_selector]
df.loc[5:9, ['Home Team Name', 'Away Team Name']]

  Home Team Name Away Team Name
5          Chile         Mexico
6     Yugoslavia        Bolivia
7            USA       Paraguay
8        Uruguay           Peru
9          Chile         France

# loc vs. iloc in Pandas (Very Simple Explanation)
An index in Pandas is like a unique identifier for each row in a DataFrame. It helps you quickly locate and access data.
When you create a DataFrame, Pandas automatically assigns an index (which is just row numbers starting from 0).

**iloc** is integer position-based.
- You use it when you want to select rows or columns by their position (like counting from 0, 1, 2, …).

Example:
- To get the first row (regardless of its label), you can use:
- df.iloc[0]

If you want to use a specific column (like "Name") as the index:
**loc** is label-based.  
You use it when you want to select rows or columns by their names (the labels in the index or column headers).

**Example:**  
- If your DataFrame has a row labeled "Alice", you can get that row with:
- df.loc["Alice"] OR 
- df_Alice = df[df['Name'] == "Alice"]

## Boolean Masking
Boolean masking is a powerful technique in Pandas that allows you to filter rows in a DataFrame based on True/False conditions.
- Filter rows based on multiple conditions (&, |, ~ for AND, OR, NOT).

In [23]:
# Example: Find all games in Group 3 for the 1950 World Cup
df_1950_group3 = df[(df['Year'] == 1950) & (df['Stage'] == 'Group 3')]
df_1950_group3

# Display only the attendance column for these filtered rows
df_1950_group3['Attendance']

56    36502.0
61     7903.0
65    25811.0
Name: Attendance, dtype: float64

## Creating and Modifying Columns
Here, we'll create a "Total Goals" column and show how to modify certain values.

In [24]:
# Create 'Total Goals' column
df['Total Goals'] = df['Home Team Goals'] + df['Away Team Goals']

# Create 'Half-time Goals' column (sum of home and away half-time goals)
df['Half-time Goals'] = df['Half-time Home Goals'] + df['Half-time Away Goals']

# Check updated columns
df[['Home Team Name','Away Team Name','Total Goals','Half-time Goals']].head()

  Home Team Name Away Team Name  Total Goals  Half-time Goals
0         France         Mexico            5                3
1            USA        Belgium            3                2
2     Yugoslavia         Brazil            3                2
3        Romania           Peru            4                1
4      Argentina         France            1                0

In [25]:
# Example of modifying entries that contain 'Korea'
df.loc[df['Home Team Name'].str.contains('Korea'), 'Home Team Name'] = 'North Korea'
df.loc[df['Away Team Name'].str.contains('Korea'), 'Away Team Name'] = 'South Korea'

# Check updated entries
df.loc[df['Home Team Name'].str.contains('Korea'), ['Home Team Name']]

    Home Team Name
179    North Korea
187    North Korea
374    North Korea
386    North Korea
434    North Korea
444    North Korea
480    North Korea
524    North Korea
593    North Korea
609    North Korea
635    North Korea
642    North Korea
655    North Korea
710    North Korea
753    North Korea
802    North Korea
818    North Korea

In [26]:
df.loc[df['Away Team Name'].str.contains('Korea'), ['Away Team Name']]

    Away Team Name
80     South Korea
88     South Korea
171    South Korea
195    South Korea
364    South Korea
421    South Korea
464    South Korea
490    South Korea
542    South Korea
556    South Korea
625    South Korea
639    South Korea
640    South Korea
672    South Korea
691    South Korea
721    South Korea
725    South Korea
737    South Korea
742    South Korea
756    South Korea
788    South Korea

In [30]:
df_Puebla = df[df['City'] == 'Puebla ']
df_Puebla

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,...,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials,Total Goals,Half-time Goals
201,1970,02 Jun 1970 - 16:00,Group 2,Cuauhtemoc,Puebla,Uruguay,2,0,Israel,,...,0,DAVIDSON Bob (SCO),SCHEURER Ruedi (SUI),TAREKEGN Seyoum (ETH),250,1881,URU,ISR,2,1
208,1970,06 Jun 1970 - 16:00,Group 2,Cuauhtemoc,Puebla,Uruguay,0,0,Italy,,...,0,GLOECKNER Rudolf (GDR),TSCHENSCHER Kurt (GER),HORVAT Drago (YUG),250,1884,URU,ITA,0,0
216,1970,10 Jun 1970 - 16:00,Group 2,Cuauhtemoc,Puebla,Sweden,1,0,Uruguay,,...,0,LANDAUER Henry (USA),TAYLOR John (ENG),RADULESCU Andrei (ROU),250,1922,SWE,URU,1,0
372,1986,05 Jun 1986 - 12:00,Group A,Cuauhtemoc,Puebla,Italy,1,1,Argentina,,...,1,KEIZER Jan (NED),MARQUEZ RAMIREZ Antonio (MEX),SNODDY Alan (NIR),308,394,ITA,ARG,2,2
386,1986,10 Jun 1986 - 12:00,Group A,Cuauhtemoc,Puebla,North Korea,2,3,Italy,,...,1,SOCHA David (USA),URREA Joaquin (MEX),AL SHARIF Jamal (SYR),308,643,KOR,ITA,5,1
398,1986,16 Jun 1986 - 16:00,Round of 16,Cuauhtemoc,Puebla,Argentina,1,0,Uruguay,,...,0,AGNOLIN Luigi (ITA),COURTNEY George (ENG),SILVA VALENTE Carlos Alberto (POR),309,398,ARG,URU,1,1
406,1986,22 Jun 1986 - 16:00,Quarter-finals,Cuauhtemoc,Puebla,Spain,1,1,Belgium,Belgium win on penalties (4 - 5),...,0,KIRSCHEN Siegfried (GER),CODESAL MENDEZ Edgardo (MEX),BRUMMEIER Horst (AUT),714,421,ESP,BEL,2,0
410,1986,28 Jun 1986 - 12:00,Match for third place,Cuauhtemoc,Puebla,France,4,2,Belgium,France win after extra time,...,0,COURTNEY George (ENG),SILVA ARCE Hernan (CHI),AL SHARIF Jamal (SYR),3468,422,FRA,BEL,6,0

## Summary
In this notebook, we covered:
1. Loading data with Pandas.
2. Inspecting the dataset.
3. Selecting rows and columns.
4. Boolean filtering.
5. Creating and modifying columns.

Feel free to experiment with other Pandas methods to learn more!